{% extends 'base.html' %}

{% block content %}


    <div class="max-w-full p-6 bg-gray-100 shadow-lg rounded-lg mt-4 mb-4 border border-3">
        <div class="mx-auto mt-2 mb-2 p-3">
            {% include 'pages/partials/review_navigation.html' %}

        </div>


        <div class="mt-4 mb-4 mx-auto">
            <!--<h2 class="text-3xl font-bold text-center text-gray-800">Individual Review</h2>-->
            <!--<p>The ID passed is: {{ review_id }}</p> -->



            <h2 class="text-2xl font-bold text-center text-gray-900 mb-4 mx-auto">
                Review of : {{ review.name }}
            </h2>
            <!-- rewview image-->
            <div class="flex justify-center items-center">
                <img class="w-full max-w-lg h-auto rounded-lg shadow-lg object-contain transition-all duration-500 hover:scale-105"
                     src="{{ url_for('static', filename='images/' + review.image) }}" alt="{{ review.name }} cover art">
            </div>

            <div class="my-4 mx-auto">
                {{ review.review_extract }}

            </div>

            <hr>

            <!-- YouTube Video Embed -->
            <div class="my-4">
                {% if review.link %}
                    <div class="mt-6">
                        <h4 class="font-bold mt-4 mb-4">Watch the review video:</h4>
                        <div class="relative" style="padding-top: 56.25%; /* Aspect Ratio: 16:9 */">
                            <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/{{ review.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endif %}
            </div>



            <p class="text-lg text-gray-700 leading-relaxed mb-6">
                {{ review.review_full }}
            </p>
            <h3 class="text-2xl font-bold text-orange-500">
                Review Score : {{ review.score }}
            </h3>

            {% if review.genre %}
                <h4>
                    <span class="font-bold">Genre:</span>
                    {% for type in review.genre %}
                        {{ type }},
                    {% endfor %}
                </h4>
            {% else %}
                <h4>No genre available for this review.</h4>
            {% endif %}


            <h4> <span class="font-bold">Publisher:</span> {{ review.publisher }} </h4>
            <h4> <span class="font-bold">Developer:</span>  {{ review.developer }} </h4>
            <h4> <span class="font-bold">Release Period:</span>  {{ review.release_month }}/{{ review.release_year }} </h4>
            <h4> <span class="font-bold">Audience Rating:</span>  {{ review.rating}} </h4>

            {% if review.awards %}
                <h5 class="font-bold mt-4">Awards</h5>
                <ul>
                    {% for award in review.awards %}
                        <li>{{ award }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No awards available for this review.</p>
            {% endif %}

        </div>







    </div>



{% endblock %}

