<!-- Footer -->
  <footer class="bg-gray-800 text-white py-8 mt-0 rounded-xl">
    <div class="container mx-auto px-4">
      <!-- Grid Layout for Footer Items -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

        <!-- Navigation Links -->
        <div>
          <h5 class="font-bold mb-4 text-3xl"><em>Navigation</em></h5>
          <ul>
            <li><li><a href="{{ url_for('home') }}" class="hover:text-gray-400 hover:underline">Home</a></li></li>
            <li><a href="#" class="hover:underline" class="hover:text-gray-400 hover:underline">Latest</a></li>
            <li><a href="#" class="hover:underline" class="hover:text-gray-400 hover:underline">Top 10</a></li>
            <li><a href="#" class="hover:underline" class="hover:text-gray-400 hover:underline">All Reviews</a></li>
            <li><li><a href="{{ url_for('about') }}" class="hover:text-gray-400 hover:underline">About</a></li></li>
          </ul>
        </div>

        <!-- Social Media Links -->
        <div>
          <h5 class="font-bold mb-4 text-lg"><em>Follow Us</em></h5>
          <ul class="flex space-x-4">
            <li><a href="#" class="hover:underline">Facebook</a></li>
            <li><a href="#" class="hover:underline">Twitter</a></li>
            <li><a href="#" class="hover:underline">Instagram</a></li>
          </ul>
        </div>

        <!-- Contact Information -->
        <div>
          <h5 class="font-bold mb-4 text-lg"><em>Contact</em></h5>
          <p>Email: <a href="mailto:info@example.com" class="hover:underline">info@neilsreviews.com</a></p>
          <p>Phone: <a href="tel:+123456789" class="hover:underline">+44 (0)131 258 3925</a></p>
        </div>

        <!-- Additional Info or Links (optional) -->
        <div>

        </div>
      </div>

      <!-- Footer Copyright -->
      <div class="mt-8 border-t border-gray-700 pt-4 text-center">
        <p class="text-sm">&copy; 2024 Neil's Reviews. All rights reserved.</p>
      </div>
    </div>
  </footer>